# Entornos virtuales de Python
venv/
.venv/
env/
.env/

# Archivos de entorno
.env
*.env

# Node modules
node_modules/

# Archivos generados por Cordova
frontend/cordova-app/platforms/
frontend/cordova-app/plugins/

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.tmp
*.log

